root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{csproj,props,targets}]
indent_size = 2
insert_final_newline = false

[*.xml]
indent_size = 2

[*.json]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2
insert_final_newline = false

[*.sh]
end_of_line = lf

[*.cs]

# Code-block preferences
csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.IDE0161.severity = suggestion
